body {
    padding-top: 50px;
    padding-bottom: 20px;
}

@media screen and (max-width: 400px) {
    .truncate {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.validation-summary-valid {
    display: none;
}


.hide-after-5-sec {
    -moz-animation: hideAnimation 0s ease-in-out 5s forwards;
    /* Firefox */
    -webkit-animation: hideAnimation 0s ease-in-out 5s forwards;
    /* Safari and Chrome */
    -o-animation: hideAnimation 0s ease-in-out 5s forwards;
    /* Opera */
    animation: hideAnimation 0s ease-in-out 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
        border: 0;
    }
}

@-webkit-keyframes hideAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
        padding: 0;
        margin: 0;
        border: 0;
    }
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 100px;
}
