@model Pagination<IPerson, AdventureWorks.Apps.Web.ViewModels.Person.IndexViewModel>


@if (TempData.ContainsKey("message"))
{
    var messageType = TempData.ContainsKey("messageType") ? TempData["messageType"] : "success";
    
    <div class="alert alert-@messageType">
        @TempData["message"]
    </div>
}

<h2>
    <span class="truncate">People</span>
    @Html.ActionLink("Add New", "Add", null, new { @class = "btn btn-primary pull-right" })
</h2>


<table class="table table-bordered"
       data-toggle="table"
       data-url="@Url.Action("Index")"
       data-pagination="true"
       data-side-pagination="server"
    >
    <thead>
        <tr>
            <th data-field="Id" class="col-md-1">#</th>
            <th data-field="FullName">Full Name</th>
            <th data-field="Id" data-formatter="formatRemoveColumn" class="col-md-1"></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
    </tfoot>
</table>

<script type="text/javascript">
    function formatRemoveColumn(value) {
        var path = "@Url.Action("Remove", new { id = "-" })".replace("-", value);
        return "<a class='btn btn-default' href='" + path + "'>Remove</a>";
    }
</script>